@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Demo OMDb client, based on the API, published on the <a href="http://www.omdbapi.com">official website of OMDb API</a></p>
    <p>To start search click <a asp-controller="Movie" asp-action="Search">this search link</a> or the green button on navigation bar</p>
</div>
