@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information, sent to this site (including but not limited to all http-requests) can be stored in our database. Do not share sensitive data, please</p>
